# Built-In Data Structures Python

Firstly, what is a data structure? A **data structure** is used to:
* organise
* process
* retrieve
* store data.

There are **four** built-in data structures in python, namely:
1. List
2. Dictionary
3. Tuple
4. Set

In this notebook, each of the above data structures is explained in detail with various examples. 

Hope you enjoy this journey with me! :) 

By Valeria Filippou.

## List Properties

* **Ordered** collection of elements
* Stores same and various types of data
* Stores other lists, functions, classes and modules
* Access elements using **Index**
* Index starts from zero
* Can be changed / **Mutable**
* Allows **duplicates**
* **Dynamically** sized array

### Create a list

In [ ]:
# Square brackets
empty_list = []
print('This is an empty list:\n', empty_list, '\n')

list_1 = ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']
print('This list is created using square brackets:\n', list_1, '\n')

# list() constructor
list_2 = list(('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft'))
print('Another way to create a list is by using a list() constructor:\n', list_2)

This is an empty list:
 []

This list is created using square brackets:
 ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']

Another way to create a list is by using a list() constructor:
 ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']

In [ ]:
# Boolean, integer, string data types
list_boolean = [False, True, True, False, True]
print('Boolean list: ', list_boolean, '\n')

list_integer = [3, 4, 9, 10, 3, 7]
print('Integer list: ', list_integer, '\n')

print('String list: ', list_1, '\n')

list_mixed = [True, 4, 5, 'Apple', 'Lenovo', False]
print('Mixed data type list: ', list_mixed,)

Boolean list:  [False, True, True, False, True]

Integer list:  [3, 4, 9, 10, 3, 7]

String list:  ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']

Mixed data type list:  [True, 4, 5, 'Apple', 'Lenovo', False]

### List Functions

#### Length

In [ ]:
print('The length of the list is: ', len(list_1))

The length of the list is:  5

#### Max and Min

In [ ]:
# Strings
print('The "minimum" element of the list containing strings is: ', min(list_1), '\n')
print('The "maximum" element of the list containing strings is: ', max(list_1), '\n')

# Integers
print('The "minimum" element of the list containing integers is: ', min(list_integer), '\n')
print('The "maximum" element of the list containing integers is: ', max(list_integer))

The "minimum" element of the list containing strings is:  Apple

The "maximum" element of the list containing strings is:  Microsoft

The "minimum" element of the list containing integers is:  3

The "maximum" element of the list containing integers is:  10

#### Sorted

In [ ]:
# This function sorts the list printed but the original list is not changed
print('The printed list is sorted:\n', sorted(list_1), '\n')

print('The original list is still the same:\n', list_1)

The printed list is sorted:
 ['Apple', 'Dell', 'HP', 'Lenovo', 'Microsoft']

The original list is still the same:
 ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']

### List Methods

#### Append, Extend and Insert

In [ ]:
# Adding elements to a list using append, extend, insert
list_1 = ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']
print('My initial list is: ', list_1)
print('---' * 50)

# Append
list_1.append('Asus') # add a single element as a signle value
print('Update list by adding a single value using append:\n', list_1, '\n')

list_1.append(['Acer', 'Fujitsu']) # add two elements as a single value
print('Update list by adding two values using append:\n', list_1, '\n')

# Extend
list_1.extend(['LG', 'Samsung']) # add two elements as two values
print('Update list by adding two values using extend:\n', list_1, '\n')

# Insert
list_1.insert(1, 'VAIO') # add a single element at i position 
print('Update list by adding a single value using insert:\n', list_1)

My initial list is:  ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']
------------------------------------------------------------------------------------------------------------------------------------------------------
Update list by adding a single value using append:
 ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'Asus']

Update list by adding two values using append:
 ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'Asus', ['Acer', 'Fujitsu']]

Update list by adding two values using extend:
 ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'Asus', ['Acer', 'Fujitsu'], 'LG', 'Samsung']

Update list by adding a single value using insert:
 ['Dell', 'VAIO', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'Asus', ['Acer', 'Fujitsu'], 'LG', 'Samsung']

#### Remove, Pop, Clear and Del

In [ ]:
# Removing elements from a list using del, remove, pop and clear
list_1 = ['Dell', 'VAIO', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'Asus', ['Acer', 'Fujitsu'], 'LG', 'Samsung']
print('My initial list is: ', list_1)
print('---' * 50)

# Delete 
del list_1[5] # delete index 5 (6th element)
print('6th element - Microsoft - has been removed from the list: \n', list_1, '\n')

# Remove 
list_1.remove('LG') # delete LG element
print('The element LG has been removed from the list:\n', list_1, '\n')

# Pop
list_1.pop(5) # delete element with index 5 
print('The new 6th element - Asus - has been popped from the list:\n', list_1, '\n')

list_1.pop(5) # delete element with index 5 
print('new 6th element - [Acer, Fujitsu] - has been popped from the list:\n', list_1, '\n')

# Clear
list_1.clear() # similar to del list_1[:]
print('The list has been cleared:\n', list_1)

My initial list is:  ['Dell', 'VAIO', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'Asus', ['Acer', 'Fujitsu'], 'LG', 'Samsung']
------------------------------------------------------------------------------------------------------------------------------------------------------
6th element - Microsoft - has been removed from the list:
 ['Dell', 'VAIO', 'HP', 'Apple', 'Lenovo', 'Asus', ['Acer', 'Fujitsu'], 'LG', 'Samsung']

The element LG has been removed from the list:
 ['Dell', 'VAIO', 'HP', 'Apple', 'Lenovo', 'Asus', ['Acer', 'Fujitsu'], 'Samsung']

The new 6th element - Asus - has been popped from the list:
 ['Dell', 'VAIO', 'HP', 'Apple', 'Lenovo', ['Acer', 'Fujitsu'], 'Samsung']

new 6th element - [Acer, Fujitsu] - has been popped from the list:
 ['Dell', 'VAIO', 'HP', 'Apple', 'Lenovo', 'Samsung']

The list has been cleared:
 []

#### Index

In [ ]:
# Index
list_1 = ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']
print('My initial list now is: ', list_1)
print('---' * 50)

apple_idx = list_1.index('Apple')
print('The index of the Apple element is: ', apple_idx)

My initial list now is:  ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']
------------------------------------------------------------------------------------------------------------------------------------------------------
The index of the Apple element is:  2

#### Count

In [ ]:
# Count
list_1 = ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'Apple', 'HP', 'Apple', 'Lenovo']
print('My initial list now is: ', list_1)
print('---' * 50)

apple_count = list_1.count('Apple')
print('The Apple element appears', apple_count, 'times in the list')

My initial list now is:  ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'Apple', 'HP', 'Apple', 'Lenovo']
------------------------------------------------------------------------------------------------------------------------------------------------------
The Apple element appears 3 times in the list

#### Sort

In [ ]:
# Sort
list_1 = ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']
print('My initial list now is: ', list_1)
print('---' * 50)

# Sort
list_1.sort(reverse=False)
print('The original list is sorted:\n', list_1)

My initial list now is:  ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']
------------------------------------------------------------------------------------------------------------------------------------------------------
The original list is sorted:
 ['Apple', 'Dell', 'HP', 'Lenovo', 'Microsoft']

#### Reverse

In [ ]:
# Reverse
list_1 = ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']
print('My initial list now is: ', list_1)
print('---' * 50)

list_1.reverse()
print('The order of the list has been reversed:\n', list_1)

My initial list now is:  ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']
------------------------------------------------------------------------------------------------------------------------------------------------------
The order of the list has been reversed:
 ['Microsoft', 'Lenovo', 'Apple', 'HP', 'Dell']

#### Copy

In [ ]:
# Copy
list_1 = ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']
print('My initial list now is: ', list_1)
print('---' * 50)

list_1_copy = list_1.copy()
print('The list has been copied:\n', list_1_copy)

My initial list now is:  ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']
------------------------------------------------------------------------------------------------------------------------------------------------------
The list has been copied:
 ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']

#### Access elements of list by slicing

In [ ]:
# Slicing a list
list_1 = ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']
print('My initial list now is: ', list_1)
print('---' * 50)

# Access all elements
print('Printing all elements:\n', list_1, '\n')

# Access element with index 2
print('Printing element with index 2: ', list_1[2], '\n')

# Access elements from 1 to 3 and exclude 4 
print('Printing elements from index 1 up to 3, excluding index 4:\n', list_1[1:4], '\n')

# Access last element
print('Printing the last element: ', list_1[-1], '\n')

# Access all elements in reverse
print('Printing all elements in reverse:\n', list_1[::-1])

My initial list now is:  ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']
------------------------------------------------------------------------------------------------------------------------------------------------------
Printing all elements:
 ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']

Printing element with index 2:  Apple

Printing elements from index 1 up to 3, excluding index 4:
 ['HP', 'Apple', 'Lenovo']

Printing the last element:  Microsoft

Printing all elements in reverse:
 ['Microsoft', 'Lenovo', 'Apple', 'HP', 'Dell']

#### Replace element in a list

In [ ]:
# Replacing an element in a list
list_1 = ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']
print('My initial list is: ', list_1)
print('---' * 50)

list_1[0] = 'Google'
print('Replace element with index 0:\n', list_1)

My initial list is:  ['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft']
------------------------------------------------------------------------------------------------------------------------------------------------------
Replace element with index 0:
 ['Google', 'HP', 'Apple', 'Lenovo', 'Microsoft']

#### List comprehensions

In [ ]:
# List comprehension is a concise way to create a list and an alternative of a for loop

# Create a list using for loop
cubes_1 = [] # empty list
for cube in range(5):
  cubes_1.append(cube**3)

print('A list of cubes is created using a for loop:\n', cubes_1, '\n')

# Create a list using list comprehension
cubes_2 = [cube**3 for cube in range(5)]
print('Another list of cubes is created using a list comprehension:\n', cubes_2)

A list of cubes is created using a for loop:
 [0, 1, 8, 27, 64]

Another list of cubes is created using a list comprehension:
 [0, 1, 8, 27, 64]

#### Type

In [ ]:
# In python a list is defined as an object with data type 'list'
print(type(list_1))

<class 'list'>

### List Summary

```markdown
Function    | Description 
------------|--------------------------------------------------------------
len()       | Length of a list 
max()       | Maximum element of a list
min()       | Minimum element of a list
sorted()    | Sorted list without changing the order of the original list
------------|--------------------------------------------------------------
Method      | Description 
------------|--------------------------------------------------------------
append()    | Element is added at then end of the list
extend()    | Elements are added at the end of the current list
insert()    | Element is added at the specified index
remove()    | First element with the specified value is removed
pop()       | Element is removed at the specified index
clear()     | All elements are removed from the list
index()     | Index of first element with the specified value is returned
count()     | Number of elements with the specified value is returned
sort()      | List is sorted
reverse()   | List is reversed
copy()      | List is copied
```

## Dictionary Properties

* **Unordered** collection
* **Key / Value** mapping
* Keys are **unique** 
* Keys are **immutable**
* Values can be of any type

### Create a dictionary

In [ ]:
# Curly brackets
empty_dictionary = {}
print('This is an empty dictionary:\n', empty_dictionary, '\n')

dictionary_1 = {'John': 5463, 'Mary': 9473, 'Chris': 2352, 'Lewis': 2316}
print('This dictionary is created using curly brackets and has string keys:\n', dictionary_1, '\n')

dictionary_2 = {'Name': 'John', 1: [10, 15, 20]}
print('This dictionary is created using curly brackets and has mixed keys:\n', dictionary_2, '\n')

# dict() constructor
dictionary_3 = dict([('John', 5463), ('Mary', 9473), ('Chris', 2352), ('Lewis', 2316)]) # each itam is in a pair
print('Another way to create a dictionary is by using a dict() constructor and has string keys:\n', dictionary_3, '\n')

# dict() constructor
dictionary_4 = dict({'John': 5463, 'Mary': 9473, 'Chris': 2352, 'Lewis': 2316})
print('Another way to create a dictionary using a dict() constructor:\n', dictionary_4)

This is an empty dictionary:
 {}

This dictionary is created using curly brackets and has string keys:
 {'John': 5463, 'Mary': 9473, 'Chris': 2352, 'Lewis': 2316}

This dictionary is created using curly brackets and has mixed keys:
 {'Name': 'John', 1: [10, 15, 20]}

Another way to create a dictionary is by using a dict() constructor and has string keys:
 {'John': 5463, 'Mary': 9473, 'Chris': 2352, 'Lewis': 2316}

Another way to create a dictionary using a dict() constructor:
 {'John': 5463, 'Mary': 9473, 'Chris': 2352, 'Lewis': 2316}

### Dictionary Functions

#### Length

In [ ]:
print('The length of the dictionary is: ', len(dictionary_1))

The length of the dictionary is:  4

#### Max and Min

In [ ]:
print('The "minimum" key of the dictionary is: ', min(dictionary_1), '\n')
print('The "maximum" key of the dictionary is: ', max(dictionary_1))

The "minimum" key of the dictionary is:  Chris

The "maximum" key of the dictionary is:  Mary

#### Sorted

In [ ]:
# Sorted keys
print('The printed dictionary keys are sorted:\n', sorted(dictionary_1), '\n')

The printed dictionary keys are sorted:
 ['Chris', 'John', 'Lewis', 'Mary']

### Dictionary Methods

#### Update

In [ ]:
# Updating elements to a dictionary
dictionary_1 = {'John': 5463, 'Mary': 9473, 'Chris': 2352, 'Lewis': 2316}
print('My initial dictionary is: ', dictionary_1)
print('---' * 50)

# Update
dictionary_1.update({'Chris': 4741})
print('Another way to update dictionary by providing key/value pair:\n', dictionary_1, '\n')

dictionary_1.update({'Isaac': 8947})
print('This dictionary was updated by adding another key/value pair:\n', dictionary_1)

My initial dictionary is:  {'John': 5463, 'Mary': 9473, 'Chris': 2352, 'Lewis': 2316}
------------------------------------------------------------------------------------------------------------------------------------------------------
Another way to update dictionary by providing key/value pair:
 {'John': 5463, 'Mary': 9473, 'Chris': 4741, 'Lewis': 2316}

This dictionary was updated by adding another key/value pair:
 {'John': 5463, 'Mary': 9473, 'Chris': 4741, 'Lewis': 2316, 'Isaac': 8947}

#### Pop, Popitem, Clear and Del

In [ ]:
# Removing elements from a dictionary
dictionary_1 = {'John': 5463, 'Mary': 9473, 'Chris': 2352, 'Lewis': 2316}
print('My initial dictionary is: ', dictionary_1)
print('---' * 50)

# Pop 
dictionary_1.pop('Lewis') # delete value with key Lewis, and returns the value popped
print('The new dictionary is:\n', dictionary_1, '\n')

# Popitem
# remove an arbitrary item, return (key,value)
dictionary_1.popitem() # delete last item, and returns key/value pair
print('The new dictionary is:\n', dictionary_1, '\n')

# Clear
dictionary_1.clear() # remove all items
print('The dictionary now is empty:\n', dictionary_1, '\n')

# Del
del dictionary_1 # delete the dictionary itself
print('The dictionary has been deleted.')

My initial dictionary is:  {'John': 5463, 'Mary': 9473, 'Chris': 2352, 'Lewis': 2316}
------------------------------------------------------------------------------------------------------------------------------------------------------
The new dictionary is:
 {'John': 5463, 'Mary': 9473, 'Chris': 2352}

The new dictionary is:
 {'John': 5463, 'Mary': 9473}

The dictionary now is empty:
 {}

The dictionary has been deleted.

#### Items, Keys, Values, Get and Fromkeys

In [ ]:
# Accessing elements of a dictionary

dictionary_1 = {'John': 5463, 'Mary': 9473, 'Chris': 2352, 'Lewis': 2316}
print('My initial dictionary is: ', dictionary_1)
print('---' * 50)

# Items
dict_items = dictionary_1.items()
print('The items of the dictionary are:\n', dict_items, '\n')

# Keys
dict_keys = dictionary_1.keys()
print('The keys of the dictionary are:\n', dict_keys, '\n')

# Values
dict_values = dictionary_1.values()
print('The values of the dictionary are:\n', dict_values, '\n')

# Get
mary_get = dictionary_1.get('Mary') 
print('The value of the key Mary of the dictionary is:\n', mary_get, '\n')  

# Fromkeys
keys_ = ('John', 'Mary', 'Chris', 'Lewis') # several keys
value_ = 0 # single value
dict_fromkeys = dictionary_1.fromkeys(keys_, value_)
print('The dictionary created using fromkeys() is:\n', dict_fromkeys, '\n')

My initial dictionary is:  {'John': 5463, 'Mary': 9473, 'Chris': 2352, 'Lewis': 2316}
------------------------------------------------------------------------------------------------------------------------------------------------------
The items of the dictionary are:
 dict_items([('John', 5463), ('Mary', 9473), ('Chris', 2352), ('Lewis', 2316)])

The keys of the dictionary are:
 dict_keys(['John', 'Mary', 'Chris', 'Lewis'])

The values of the dictionary are:
 dict_values([5463, 9473, 2352, 2316])

The value of the key Mary of the dictionary is:
 9473

The dictionary created using fromkeys() is:
 {'John': 0, 'Mary': 0, 'Chris': 0, 'Lewis': 0}

#### Copy

In [ ]:
# Copy
dictionary_1 = {'John': 5463, 'Mary': 9473, 'Chris': 2352, 'Lewis': 2316}
print('My initial dictionary is: ', dictionary_1)
print('---' * 50)

dictionary_1_copy = dictionary_1.copy()
print('The dictionary has been copied:\n', dictionary_1_copy)

My initial dictionary is:  {'John': 5463, 'Mary': 9473, 'Chris': 2352, 'Lewis': 2316}
------------------------------------------------------------------------------------------------------------------------------------------------------
The dictionary has been copied:
 {'John': 5463, 'Mary': 9473, 'Chris': 2352, 'Lewis': 2316}

### Manual operations

In [ ]:
dictionary_1 = {'John': 5463, 'Mary': 9473, 'Chris': 2352, 'Lewis': 2316}
print('My initial dictionary is: ', dictionary_1)
print('---' * 50)

# Add item
dictionary_1['Miles'] = 9872
print('Adding a key/value pair:\n', dictionary_1, '\n')

# Update item
dictionary_1['Chris'] = 6547
print('Updating value of the specified key:\n', dictionary_1, '\n')

# Access value using key
mary_ = dictionary_1['Mary']
print('The value of the specified key is:\n', mary_)

My initial dictionary is:  {'John': 5463, 'Mary': 9473, 'Chris': 2352, 'Lewis': 2316}
------------------------------------------------------------------------------------------------------------------------------------------------------
Adding a key/value pair:
 {'John': 5463, 'Mary': 9473, 'Chris': 2352, 'Lewis': 2316, 'Miles': 9872}

Updating value of the specified key:
 {'John': 5463, 'Mary': 9473, 'Chris': 6547, 'Lewis': 2316, 'Miles': 9872}

The value of the specified key is:
 9473

### Dictionary comprehensions

In [ ]:
cubes_1 = {cube: cube**3 for cube in range(5)}
print('A dictionary of cubes is created using a dict comprehension:\n', cubes_1)

A dictionary of cubes is created using a dict comprehension:
 {0: 0, 1: 1, 2: 8, 3: 27, 4: 64}

### Type

In [ ]:
# In python a dictionary is defined as an object with data type 'dict'
print(type(dictionary_1))

<class 'dict'>

### Dictionary Summary

```markdown
Function    | Description 
------------|--------------------------------------------------------------
len()       | Length of a dictionary 
max()       | Maximum key of a dictionary
min()       | Minimum key of a dictionary
sorted()    | Sorted keys of a dictionary
------------|--------------------------------------------------------------
Method      | Description 
------------|--------------------------------------------------------------
update()    | Dictionary is updated with specified key/value pairs
pop()       | Element is removed with the specified key
popitem()   | Last key/value pair is removed
clear()     | All elements are removed from the dictionary
items()     | List containing a tuple for each key/value pair is returned
keys()      | List containing the keys of the dictionary is returned
values()    | List containing all the values of the dictionary is returned
get()       | Value of the specified key is returned
fromkeys()  | List created with different specified keys and same value in all keys
copy()      | Dictionary is copied
```

## Tuple Properties

* **Ordered** collection of elements
* Stores same and various types of data
* Access elements using **Index**
* Index starts from zero
* Cannot be changed / **Immutable**
* Allows **duplicates**

### Create a tuple

In [ ]:
# Round brackets
empty_tuple = ()
print('This is an empty tuple:\n', empty_tuple, '\n')

# Round backets
tuple_1 = ('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft')
print('This tuple is created using round brackets:\n', tuple_1, '\n')

# No brackets or tuple packing 
tuple_2 = 'Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft'
print('This tuple is created without brackets:\n', tuple_2, '\n')

# tuple() constructor 
tuple_3 = tuple(('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft'))
print('This tuple is created using tuple() constructor\n:', tuple_3, '\n')

# mixed datatypes tuple
tuple_4 = ('Dell', 1, 'Apple', 3.2)
print('This tuple is created using round brackets and has mixed datatypes:\n', tuple_4, '\n')

# nested tuple
tuple_5 = ('Dell', ['Apple', 4, 8], ('HP', 2.2, 3))
print('This is a nested tuple:\n', tuple_5)

This is an empty tuple:
 ()

This tuple is created using round brackets:
 ('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft')

This tuple is created without brackets:
 ('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft')

This tuple is created using tuple() constructor
: ('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft')

This tuple is created using round brackets and has mixed datatypes:
 ('Dell', 1, 'Apple', 3.2)

This is a nested tuple:
 ('Dell', ['Apple', 4, 8], ('HP', 2.2, 3))

### Tuple Functions

#### Length

In [ ]:
print('The length of the tuple is: ', len(tuple_1))

The length of the tuple is:  5

#### Max and Min

In [ ]:
print('The "minimum" element of the tuple is: ', min(tuple_1), '\n')
print('The "maximum" element of the tuple is: ', max(tuple_1))

The "minimum" element of the tuple is:  Apple

The "maximum" element of the tuple is:  Microsoft

#### Sorted

In [ ]:
# This function sorts the tuple printed but the original tuple is not changed
print('The printed tuple is sorted:\n', sorted(tuple_1), '\n')

print('The original tuple is still the same:\n', tuple_1)

The printed tuple is sorted:
 ['Apple', 'Dell', 'HP', 'Lenovo', 'Microsoft']

The original tuple is still the same:
 ('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft')

### Tuple Methods

#### Index

In [ ]:
tuple_1 = ('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft')
print('My initial tuple is: ', tuple_1)
print('---' * 50)

apple_idx = tuple_1.index('Apple')
print('The index of the Apple element is:\n', apple_idx)

My initial tuple is:  ('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft')
------------------------------------------------------------------------------------------------------------------------------------------------------
The index of the Apple element is:
 2

#### Count

In [ ]:
tuple_1 = ('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'Apple')
print('My initial tuple is: ', tuple_1)
print('---' * 50)

apple_count = tuple_1.count('Apple')
print('The Apple element appears', apple_count, 'times in the tuple')

My initial tuple is:  ('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'Apple')
------------------------------------------------------------------------------------------------------------------------------------------------------
The Apple element appears 2 times in the tuple

#### Del

In [ ]:
# Delete a tuple
tuple_1 = ('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft')
print('My initial tuple is: ', tuple_1)
print('---' * 50)

del tuple_1 # delete the dictionary itself
print('The tuple has been deleted.')

My initial tuple is:  ('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft')
------------------------------------------------------------------------------------------------------------------------------------------------------
The tuple has been deleted.

### Access elements of tuple by slicing

In [ ]:
# Slicing a tuple
tuple_1 = ('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft')
print('My initial tuple now is: ', tuple_1)
print('---' * 50)

# Access all elements
print('Printing all elements:\n', tuple_1, '\n')

# Access element with index 2
print('Printing element with index 2:\n', tuple_1[2], '\n')

# Access elements from 1 to 3 and exclude 4 
print('Printing elements from index 1 up to 3, excluding index 4:\n', tuple_1[1:4], '\n')

# Access last element
print('Printing the last element:\n', tuple_1[-1], '\n')

# Access all elements in reverse
print('Printing all elements in reverse:\n', tuple_1[::-1])

My initial tuple now is:  ('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft')
------------------------------------------------------------------------------------------------------------------------------------------------------
Printing all elements:
 ('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft')

Printing element with index 2:
 Apple

Printing elements from index 1 up to 3, excluding index 4:
 ('HP', 'Apple', 'Lenovo')

Printing the last element:
 Microsoft

Printing all elements in reverse:
 ('Microsoft', 'Lenovo', 'Apple', 'HP', 'Dell')

### Add element to a tuple

In [ ]:
# Adding element to a tuple
# Even though there is no append function in a tuple, there is an indirect way to add elements
tuple_1 = ('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft')
print('My initial tuple is: ', tuple_1)
print('---' * 50)

print('LG element has been added to the tuple:\n', tuple_1 + ('LG',))

My initial tuple is:  ('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft')
------------------------------------------------------------------------------------------------------------------------------------------------------
LG element has been added to the tuple:
 ('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'LG')

### Type

In [ ]:
# In python a tuple is defined as an object with data type 'tuple'
print(type(tuple_1))

<class 'tuple'>

### Tuple Summary

```markdown
Function    | Description 
------------|--------------------------------------------------------------
len()       | Length of a tuple 
max()       | Maximum element of a tuple
min()       | Minimum element of a tuple
sorted()    | Sorted tuple without changing the order of the original tuple
------------|--------------------------------------------------------------
Method      | Description 
------------|--------------------------------------------------------------
index()     | Index of the specified value is returned
count()     | Number of elements with the specified value is returned
```

## Set Properties

* **Unordered** collection of elements
* Stores same and various types of data
* **Unindexed**
* Cannot be changed / **Immutable**
* Duplicates not allowed

### Create a set

In [ ]:
# set() constructor
empty_set = set()
print('This is an empty set:\n', empty_set, '\n')

# Curly backets
set_1 = {'Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft'}
print('This set is created using round brackets:\n', set_1, '\n')

# set() constructor 
set_2 = set(('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft'))
print('This set is created using set() constructor:\n', set_2, '\n')

# set() constructor 
set_3 = set(['Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft'])
print('This set is created using set() constructor:\n', set_3, '\n')

# mixed datatypes set
set_4 = {'Dell', 1, 'Apple', 3.2}
print('This set is created using curly brackets and has mixed datatypes:\n', set_4, '\n')

# Curly backets 
set_5 = {'Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'Apple', 'Apple'} # multiple times Apple element
print('Even if Apple appears three times, the Apple is printed a single time:\n', set_5)

This is an empty set:
 set()

This set is created using round brackets:
 {'HP', 'Microsoft', 'Dell', 'Lenovo', 'Apple'}

This set is created using set() constructor:
 {'HP', 'Microsoft', 'Dell', 'Lenovo', 'Apple'}

This set is created using set() constructor:
 {'HP', 'Microsoft', 'Dell', 'Lenovo', 'Apple'}

This set is created using curly brackets and has mixed datatypes:
 {1, 'Apple', 3.2, 'Dell'}

Even if Apple appears three times, the Apple is printed a single time:
 {'HP', 'Microsoft', 'Dell', 'Lenovo', 'Apple'}

### Set Functions

#### Length

In [ ]:
length_set_1 = len(set_1)
print('The length of the set is: ', length_set_1, '\n')

length_set_4 = len(set_4)
print('The length of the set is: ', length_set_4)

The length of the set is:  5

The length of the set is:  4

#### Max and Min

In [ ]:
print('The "minimum" element of the set is: ', min(set_1), '\n')
print('The "maximum" element of the set is: ', max(set_1))

The "minimum" element of the set is:  Apple

The "maximum" element of the set is:  Microsoft

#### Sorted

In [ ]:
# This function sorts the set printed but the original set is not changed
print('The printed set is sorted:\n', sorted(set_1), '\n')

print('The original set is still the same:\n', set_1)

The printed set is sorted:
 ['Apple', 'Dell', 'HP', 'Lenovo', 'Microsoft']

The original set is still the same:
 {'HP', 'Microsoft', 'Dell', 'Lenovo', 'Apple'}

### Set Methods

#### Add

In [ ]:
# Adding element to a set
# Even though there is no append function in a set, there is an indirect way to add elements
set_1 = {'Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft'}
print('My initial set is: ', set_1)
print('---' * 50)

# Add
set_1.add('LG') # adding element to set
print('LG element has been added to the set:\n', set_1)

My initial set is:  {'HP', 'Microsoft', 'Dell', 'Lenovo', 'Apple'}
------------------------------------------------------------------------------------------------------------------------------------------------------
LG element has been added to the set:
 {'HP', 'Microsoft', 'Dell', 'LG', 'Lenovo', 'Apple'}

#### Discard, Remove, Pop and Clear

In [ ]:
set_1 = {'Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft'}
print('My initial set is: ', set_1)
print('---' * 50)

# Discard
# If specified itam not in the set, no error is raised
set_1.discard('Lenovo') # removes specified item
print('The new set is:\n', set_1, '\n')

# Remove
# If specified itam not in the set, an error is raised
set_1.discard('HP') # removes specified item
print('The new set is:\n', set_1, '\n')

# Pop
set_1.pop() # removed random item 
print('The set now is:\n', set_1, '\n')

# Clear
set_1.clear() # remove all items
print('The set now is empty:\n', set_1)

My initial set is:  {'HP', 'Microsoft', 'Dell', 'Lenovo', 'Apple'}
------------------------------------------------------------------------------------------------------------------------------------------------------
The new set is:
 {'HP', 'Microsoft', 'Dell', 'Apple'}

The new set is:
 {'Microsoft', 'Dell', 'Apple'}

The set now is:
 {'Dell', 'Apple'}

The set now is empty:
 set()

#### Update

In [ ]:
set_1 = set(('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'VAIO'))
print('Set_1 is: ', set_1, '\n')

set_2 = set(('Asus', 'Acer', 'Fujitsu', 'LG', 'Samsung', 'Apple', 'VAIO'))
print('Set_2 is: ', set_2)
print('---' * 50)

# Update
set_1.update(set_2)
print('Set_1 is updated by the addition of elements from set_2:\n', set_1, '\n') # only unique values appear

Set_1 is:  {'HP', 'VAIO', 'Microsoft', 'Dell', 'Lenovo', 'Apple'}

Set_2 is:  {'Acer', 'Asus', 'VAIO', 'LG', 'Fujitsu', 'Samsung', 'Apple'}
------------------------------------------------------------------------------------------------------------------------------------------------------
Set_1 is updated by the addition of elements from set_2:
 {'HP', 'Acer', 'VAIO', 'Asus', 'Microsoft', 'Dell', 'LG', 'Lenovo', 'Fujitsu', 'Samsung', 'Apple'}

#### Union

In [ ]:
set_1 = set(('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'VAIO'))
print('Set_1 is: ', set_1, '\n')

set_2 = set(('Asus', 'Acer', 'Fujitsu', 'LG', 'Samsung', 'Apple', 'VAIO'))
print('Set_2 is: ', set_2)
print('---' * 50)

# Union or | operator
print('Set containing the union of the sets:\n', set_1.union(set_2), '\n') # combines elements from both sets
print('Set containing the union of the sets using | operator:\n', set_1 | set_2, '\n') # combines elements from both sets

Set_1 is:  {'HP', 'VAIO', 'Microsoft', 'Dell', 'Lenovo', 'Apple'}

Set_2 is:  {'Acer', 'Asus', 'VAIO', 'LG', 'Fujitsu', 'Samsung', 'Apple'}
------------------------------------------------------------------------------------------------------------------------------------------------------
Set containing the union of sets:
 {'HP', 'Acer', 'VAIO', 'Asus', 'Microsoft', 'Dell', 'LG', 'Lenovo', 'Fujitsu', 'Samsung', 'Apple'}

Set containing the union of sets using | operator:
 {'HP', 'Acer', 'VAIO', 'Asus', 'Microsoft', 'Dell', 'LG', 'Lenovo', 'Fujitsu', 'Samsung', 'Apple'}

#### Intersection

In [ ]:
set_1 = set(('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'VAIO'))
print('Set_1 is: ', set_1, '\n')

set_2 = set(('Asus', 'Acer', 'Fujitsu', 'LG', 'Samsung', 'Apple', 'VAIO'))
print('Set_2 is: ', set_2)
print('---' * 50)

# Intersection or & operator
print('Set containing the intersection of the sets:\n', set_1.intersection(set_2), '\n') # common elements from both sets
print('Set containing the intersection of the sets using & operator:\n', set_1 & set_2, '\n') # common elements from both sets

Set_1 is:  {'HP', 'VAIO', 'Microsoft', 'Dell', 'Lenovo', 'Apple'}

Set_2 is:  {'Acer', 'Asus', 'VAIO', 'LG', 'Fujitsu', 'Samsung', 'Apple'}
------------------------------------------------------------------------------------------------------------------------------------------------------
Set containing the intersection of the sets:
 {'VAIO', 'Apple'}

Set containing the intersection of the sets using & operator:
 {'VAIO', 'Apple'}

#### Intersection Update

In [ ]:
set_1 = set(('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'VAIO'))
print('Set_1 is: ', set_1, '\n')

set_2 = set(('Asus', 'Acer', 'Fujitsu', 'LG', 'Samsung', 'Apple', 'VAIO'))
print('Set_2 is: ', set_2)
print('---' * 50)

# Intersection update
set_1.intersection_update(set_2)
print('Set_1 is updated with the interestion of the sets:\n', set_1)

Set_1 is:  {'HP', 'VAIO', 'Microsoft', 'Dell', 'Lenovo', 'Apple'}

Set_2 is:  {'Acer', 'Asus', 'VAIO', 'LG', 'Fujitsu', 'Samsung', 'Apple'}
------------------------------------------------------------------------------------------------------------------------------------------------------
Set_1 is updated with the interestion of the sets:
 {'VAIO', 'Apple'}

#### Difference

In [ ]:
set_1 = set(('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'VAIO'))
print('Set_1 is: ', set_1, '\n')

set_2 = set(('Asus', 'Acer', 'Fujitsu', 'LG', 'Samsung', 'Apple', 'VAIO'))
print('Set_2 is: ', set_2)
print('---' * 50)

# Difference or - operator
print('Set containing the difference between the sets:\n', set_1.difference(set_2), '\n') # elements in set_1 but not in set_2
print('Set containing the difference between the sets using - operator:\n', set_1 - set_2, '\n') # elements in set_1 but not in set_2

Set_1 is:  {'HP', 'VAIO', 'Microsoft', 'Dell', 'Lenovo', 'Apple'}

Set_2 is:  {'Acer', 'Asus', 'VAIO', 'LG', 'Fujitsu', 'Samsung', 'Apple'}
------------------------------------------------------------------------------------------------------------------------------------------------------
Set containing the difference between the sets:
 {'HP', 'Lenovo', 'Microsoft', 'Dell'}

Set containing the difference between the sets using - operator:
 {'HP', 'Lenovo', 'Microsoft', 'Dell'}

#### Difference Update

In [ ]:
set_1 = set(('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'VAIO'))
print('Set_1 is: ', set_1, '\n')

set_2 = set(('Asus', 'Acer', 'Fujitsu', 'LG', 'Samsung', 'Apple', 'VAIO'))
print('Set_2 is: ', set_2)
print('---' * 50)

# Difference update
set_1.difference_update(set_2)
print('Set_1 is updated with the difference between the sets:\n', set_1, '\n')

Set_1 is:  {'HP', 'VAIO', 'Microsoft', 'Dell', 'Lenovo', 'Apple'}

Set_2 is:  {'Acer', 'Asus', 'VAIO', 'LG', 'Fujitsu', 'Samsung', 'Apple'}
------------------------------------------------------------------------------------------------------------------------------------------------------
Set_1 is updated with the difference between the sets:
 {'HP', 'Microsoft', 'Dell', 'Lenovo'}

#### Symmetric Difference

In [ ]:
set_1 = set(('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'VAIO'))
print('Set_1 is: ', set_1, '\n')

set_2 = set(('Asus', 'Acer', 'Fujitsu', 'LG', 'Samsung', 'Apple', 'VAIO'))
print('Set_2 is: ', set_2)
print('---' * 50)

# Symmetric difference or ^ operator
# Similar to difference, but outputs the elements that is remaining in both sets
print('Set containing all different elements from the sets:\n', set_1.symmetric_difference(set_2), '\n') # common elements excluded
print('Set containing all different elements from the sets using ^ operator:\n', set_1 ^ set_2, '\n')

Set_1 is:  {'HP', 'VAIO', 'Microsoft', 'Dell', 'Lenovo', 'Apple'}

Set_2 is:  {'Acer', 'Asus', 'VAIO', 'LG', 'Fujitsu', 'Samsung', 'Apple'}
------------------------------------------------------------------------------------------------------------------------------------------------------
Set containing all different elements from the sets:
 {'HP', 'Acer', 'Asus', 'Microsoft', 'Dell', 'LG', 'Fujitsu', 'Samsung', 'Lenovo'}

Set containing all different elements from the sets using ^ operator:
 {'HP', 'Acer', 'Asus', 'Microsoft', 'Dell', 'LG', 'Fujitsu', 'Samsung', 'Lenovo'}

#### Symmetric Difference Update

In [ ]:
set_1 = set(('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'VAIO'))
print('Set_1 is: ', set_1, '\n')

set_2 = set(('Asus', 'Acer', 'Fujitsu', 'LG', 'Samsung', 'Apple', 'VAIO'))
print('Set_2 is: ', set_2)
print('---' * 50)

# Symmetric difference update
set_1.symmetric_difference_update(set_2)
print('Set_1 is updated with all different elements from the sets:\n', set_1)

Set_1 is:  {'HP', 'VAIO', 'Microsoft', 'Dell', 'Lenovo', 'Apple'}

Set_2 is:  {'Acer', 'Asus', 'VAIO', 'LG', 'Fujitsu', 'Samsung', 'Apple'}
------------------------------------------------------------------------------------------------------------------------------------------------------
Set_1 is updated with all different elements from the sets:
 {'HP', 'Acer', 'Asus', 'Microsoft', 'Dell', 'LG', 'Lenovo', 'Fujitsu', 'Samsung'}

#### Isdisjoint, Issubset and Issuperset

In [ ]:
set_1 = set(('Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft', 'VAIO'))
print('Set_1 is: ', set_1, '\n')

set_2 = set(('Asus', 'Acer', 'Fujitsu', 'LG', 'Samsung', 'Apple', 'VAIO'))
print('Set_2 is: ', set_2, '\n')

set_3 = set(('Dell', 'HP', 'Apple', 'Lenovo'))
print('Set_3 is: ', set_3, '\n')

set_4 = set(('Microsoft', 'VAIO'))
print('Set_4 is: ', set_4)
print('---' * 50)

# isdisjoint
print('Are set_1 and set_2 disjoint? ', set_1.isdisjoint(set_2), '\n')
print('Are set_1 and set_3 disjoint? ', set_1.isdisjoint(set_3), '\n')
print('Are set_3 and set_4 disjoint? ', set_3.isdisjoint(set_4), '\n')

# issubset
print('Is set_1 subset of set_2? ', set_1.issubset(set_2), '\n')
print('Is set_3 subset of set_1? ', set_3.issubset(set_1), '\n')

# issuperset
print('Are all elements of set_2 in set_1? ', set_1.issuperset(set_2), '\n')
print('Are all elements of set_3 in set_1? ', set_1.issuperset(set_3))

Set_1 is:  {'HP', 'VAIO', 'Microsoft', 'Dell', 'Lenovo', 'Apple'}

Set_2 is:  {'Acer', 'Asus', 'VAIO', 'LG', 'Fujitsu', 'Samsung', 'Apple'}

Set_3 is:  {'HP', 'Apple', 'Lenovo', 'Dell'}

Set_4 is:  {'VAIO', 'Microsoft'}
------------------------------------------------------------------------------------------------------------------------------------------------------
Are set_1 and set_2 disjoint?  False

Are set_1 and set_3 disjoint?  False

Are set_3 and set_4 disjoint?  True

Is set_1 subset of set_2?  False

Is set_3 subset of set_1?  True

Are all elements of set_2 in set_1?  False

Are all elements of set_3 in set_1?  True

#### Copy

In [ ]:
set_1 = {'Dell', 'HP', 'Apple', 'Lenovo', 'Microsoft'}
print('My initial set is: ', set_1)
print('---' * 50)

set_1_copy = set_1.copy()
print('The set has been copied:\n', set_1_copy)

My initial set is:  {'HP', 'Microsoft', 'Dell', 'Lenovo', 'Apple'}
------------------------------------------------------------------------------------------------------------------------------------------------------
The set has been copied:
 {'HP', 'Lenovo', 'Apple', 'Microsoft', 'Dell'}

### Type

In [ ]:
# In python a set is defined as an object with data type 'set'
print(type(set_1))

<class 'set'>

### Set Summary

```markdown
Function                     | Description 
-----------------------------|---------------------------------------------
len()                        | Length of a set 
max()                        | Maximum element of a set
min()                        | Minimum element of a set
sorted()                     | Sorted set without changing the order of the original set
-----------------------------|---------------------------------------------
Method                       | Description 
-----------------------------|---------------------------------------------
add()                        | Element is added at the set
discard()                    | Element is removed from the set
remove()                     | Element is removed from the set
pop()                        | Random element is removed from the set
clear()                      | All elements are removed from the set
update()                     | Elements are added to the caller set
union()                      | Set is returned with the union of all sets
intersection()               | Set is returned with the intersection of all sets
intersection_update()        | Elements that intersect in the sets remain in the caller set
difference()                 | Set is returned with the difference between two sets
difference_update()          | Elements that differ in the two sets remain in the caller set
symmetric_difference()       | Set is returned with all the different elements from the sets
symmetric_difference_update()| All elements that differ in the sets remain in the caller set
isdisjoint                   | Returns True if set_1 and set_2 are disjoint
issubset                     | Returns True if all elements of set_1 are present in set_2
isuperset                    | Returns True if all elements of set_1 occupies set_2
copy()                       | set is copied
```